@RenderBody()
@RenderSection("Scripts", required: false)

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="css/style.css">

<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 ml-auto">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">Sobre a Rapidex</h2>
                  <ul class="list-unstyled">
                    <li><a href="#">A definir</a></li>
                    <li><a href="#">A definir</a></li>
                    <li><a href="#">A definir</a></li>
                    <li><a href="#">A definir</a></li>
                  </ul>
              </div>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Fale Consoco</h2>
                <ul class="list-unstyled">
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                  <li><a href="#">A definir</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 ml-auto">
            <h2 class="footer-heading mb-4">Siga Rapidex</h2>
            <a href="#" class="pl-3 pr-3"><span class="icon-facebook-f"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">   
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservado á <a href="index.html" target="_blank" >Rapidex</a>
              </p>
            </div>
          </div>
        </div>
      </div>
</footer>

