@model IEnumerable<AppWeb.Models.FreteViewModel>
@{
    ViewData["Title"] = "Frete Rápido";
}


                                <h2>Total - RECUPERAR DO BANCO resultado</h2>
                                